@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --green: rgb(94, 138, 68);
    --green_active: rgb(126, 175, 97);
    --blue: #6F89C4;
    --blue_active: rgb(148, 170, 223);
    --red: #FF4365;
    --red_active: rgb(255, 125, 149);
    --yellow: #FFE569;
    --yellow_active: rgb(255, 244, 187);
    --light: #fdfbf4;
    --dark: #413b36;
    --main-focus: #cc6355;
    --main-focus-secondary: #aa5348;
    overflow-x: hidden;
}

.leaf-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2d2d2d' fill-opacity='0.11' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.lines-bg {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2d2d2d' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.bamboo-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%233a5242' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.hideout-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%231d1d1d' fill-opacity='0.04'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.theme_light {
    --bg-primary: #fdfbf4;
    --main-primary: #6d9265;
    --bg-secondary: #83a37e;
    --main-secondary: #85a77f;
}

.theme_dark {
    --bg-primary: #383333;
    --main-primary: #fdfbf4;
    --bg-secondary: #8d837b;
    --main-secondary: #e6ddc8;
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,600&display=swap');

body {
    font-family: 'Archivo Narrow', sans-serif;
    overflow-x: hidden;
}

a {
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    color: var(--main-secondary);
}

li {
    list-style: none;
}

.bold {
    font-weight: 600;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

svg {
    stroke: var(--main-primary);
    fill: var(--main-primary);
    width: 3rem;
    transition: 0.2s;
}

svg:hover {
    stroke: var(--main-secondary);
    fill: var(--main-secondary);
    transition: 0.2s;
}

.svg-dark {
    stroke: var(--bg-primary);
    fill: var(--bg-primary);
}

.svg-dark:hover {
    stroke: var(--bg-secondary);
    fill: var(--bg-secondary);
}

.svg-passive {
    stroke: var(--bg-secondary);
    fill: var(--bg-secondary);
}

.svg-passive:hover {
    stroke: var(--bg-secondary);
    fill: var(--bg-secondary);
}

.svg-light {
    stroke: none;
}

.svg-darkColor {
    stroke: var(--bg-dark);
    fill: var(--bg-dark);
}

.svg-3xl {
    width: 10rem;
}

.svg-2xl {
    width: 6rem;
}

.svg-xl {
    width: 4rem;
}

.svg-lg {
    width: 2.3rem;
}

.svg-md {
    width: 1.5rem;
}

.svg-mds {
    width: 1rem;
}

.svg-sm {
    width: .7rem;
}

.img-sm {
    width: 3rem;
}

.img-xl {
    width: 9rem;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--bg-primary);
}

.arrow-down-small {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-primary);
}

.arrow-downSignupAlert {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-secondary);
}

.ol-zoom {
    display: none;
}

.with-line-breaks {
    white-space: pre-wrap;
}

.image {
    background-size: cover;
    background-position-y: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.205);
}